[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
isort = "*"
factory-boy = "*"
pylint = "*"
pycodestyle = "*"
flake8 = "*"
django-debug-toolbar = "*"
django-fixture-magic = "*"

[packages]
django = "<3.0"
djangorestframework = "*"
djangorestframework-jwt = "*"
django-filter = "*"
drfpasswordless = "*"
django-rest-swagger = "*"
djangorestframework-gis = "*"
django-extensions = "*"
cryptography = "*"
django-model-utils = "*"
django-cors-headers = "*"
django-mptt = "*"
python-json-logger = "*"
django-suit = "*"
babel = "*"
pycountry = "*"
aiohttp = "*"
pyrestcli = "*"
psycopg2-binary = "*"
unicef-notification = "==0.2.1"
django-storages = "==1.6.6"
azure-storage = "==0.20.2"
boto3 = "*"
openpyxl = "*"
django-paintstore = "*"
django-leaflet = "*"
carto = "*"
django-redis-cache = "*"
django-celery-results = "*"
django-celery-email = "*"
django-celery-beat = "*"
django-cron = "*"
requests = "*"
newrelic = "*"
raven = "*"
social-auth-app-django = "*"
python-social-auth = "*"
weasyprint = "*"

[requires]
python_version = "3.7"
