[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
factory-boy = "*"
flake8 = "*"
django-debug-toolbar = "*"
django-fixture-magic = "*"
isort = "*"

[packages]
aiohttp = "*"
azure-storage = "==0.20.2"
babel = "*"
boto3 = "*"
carto = "*"
cryptography = "<3.4"
django = "*"
django-admin-extra-urls = "*"
django-celery-beat = "*"
django-celery-email = "*"
django-celery-results = "*"
django-cors-headers = "*"
django-cron = "*"
django-environ = "*"
django-extensions = "*"
django-filter = "*"
python-json-logger = "*"
django-leaflet = "*"
django-model-utils = "*"
django-mptt = "*"
django-paintstore = "*"
django-redis-cache = "*"
django-rest-swagger = "*"
django-storages = "==1.6.6"
djangorestframework = "*"
djangorestframework-gis = "*"
djangorestframework-jwt = "*"  # migrate to djangorestframework-simplejwt
drfpasswordless = "*"
newrelic = "*"
openpyxl = "*"
psycopg2-binary = "*"
pycountry = "*"
python-social-auth = "*"
pyrestcli = "*"
requests = "*"
sentry-sdk = "*"
social-auth-app-django = "*"
social-auth-core = "<4.0.2"  # pyjtw compatibility
unicef-notification = "*"
weasyprint = "*"

[requires]
python_version = "3.7"
