*.DS_Store
*~

# Docker environment file
**/.env
**/.envrc
**/.venv/

# PyCharm etc.
.idea/
.vscode/
.devcontainer

# Python compiled
*.pyc
*.pem

.coverage
htmlcov
.pytest_cache
celerybeat.pid

# Frontend
node_modules/

data/

polymer_3/index_dev.html

# k8s secrets
kubernetes/base/secrets.yml

build/
