[submodule "common_ip"]
	path = frontend_ip/src_ts/etools-prp-common
	url = ../etools-prp-common.git
	branch = develop
[submodule "common_cl"]
	path = frontend_cluster/src_ts/etools-prp-common
	url = ../etools-prp-common.git
	branch = develop
