*.DS_Store
*~

# Docker environment file
.env

# PyCharm etc.
.idea/
.vscode/
.devcontainer

# Python compiled
*.pyc
*.pem
!django_api/django_api/keys/jwt/certificate.pem
.coverage
htmlcov
.pytest_cache
celerybeat.pid

# Frontend
node_modules/

data/

polymer_3/index_dev.html

# k8s secrets
kubernetes/base/secrets.yml

build/
