version: '2.1'

services:
  beater-prp:
    command: bash -c "/usr/local/bin/waitforit -host=db -port=5432 && python manage.py celery beat --loglevel=${CELERY_LOG_LEVEL:-debug}"
    image: 'unicef/etools-prp'
    env_file:
      - .env
    depends_on:
      - django_api
      - redis
    restart: always

  worker-prp:
    command: bash -c "/usr/local/bin/waitforit -host=db -port=5432 && python manage.py celery worker -E --loglevel=${CELERY_LOG_LEVEL:-info}"
    image: 'unicef/etools-prp'
    env_file:
      - .env
    depends_on:
      - django_api
      - redis
    restart: always
    volumes:
      - './django_api:/code/'

  proxy:
    image: unicef/etools-prp-nginx-proxy
    environment:
      - DJANGO_APPLICATION_SERVICE_HOST=django_api
    build:
      context: ./nginx_proxy
      dockerfile: ./Dockerfile
    ports:
      - "8082:80"
    depends_on:
      - django_api
      - polymer

  django_api:
    image: unicef/etools-prp
    env_file:
      - .env
    build:
      context: ./django_api
      dockerfile: ./Dockerfile
      args:
        ENV: dev
        REQUIREMENT_FILE: dev.txt
    volumes:
      - './django_api:/code/'
      - './data/django_api_logs:/data/django_api/logs'
      - './data/django_api_uploads_unicef_progress_reports:/data/django_api/uploads/unicef/progress_reports'
    command: bash -c "/usr/local/bin/waitforit -host=db -port=5432 && python /code/manage.py makemigrations --merge --noinput && python /code/manage.py migrate && python /code/manage.py loaddata sites && python /code/manage.py loaddata reporting_entities && python manage.py collectstatic --noinput && uwsgi --ini /code/django_api/uwsgi.ini"
    depends_on:
      - db

  db:
    image: unicef/etools-prp-db
    env_file:
      - .env
    build:
      context: ./db
      dockerfile: ./Dockerfile

  redis:
    image: unicef/etools-prp-redis
    build:
      context: ./redis
      dockerfile: ./Dockerfile

  polymer:
    image: unicef/etools-prp-polymer
    build:
      context: ./polymer
      dockerfile: ./Dockerfile
    volumes:
        - ./polymer/:/code
        - /code/node_modules
        - /code/bower_components
    command: ash -c "npm run dev"
