version: '2.1'

services:
  # beater-prp:
  #   command: bash -c "/usr/local/bin/waitforit -host=db -port=5432 && celery -A django_api beat -l ${CELERY_LOG_LEVEL:-info} --scheduler django_celery_beat.schedulers:DatabaseScheduler -b $REDIS_URL"
  #   image: 'unicef/etools-prp'
  #   env_file:
  #     - .env
  #   depends_on:
  #     - django_api
  #     - redis
  #   restart: always
  #   volumes:
  #     - './django_api:/code/'

  # worker-prp:
  #   command: bash -c "/usr/local/bin/waitforit -host=db -port=5432 && celery -A django_api worker -l ${CELERY_LOG_LEVEL:-info} -b $REDIS_URL"
  #   image: 'unicef/etools-prp'
  #   env_file:
  #     - .env
  #   depends_on:
  #     - django_api
  #     - redis
  #   restart: always
  #   volumes:
  #     - './django_api:/code/'

  proxy:
    image: unicef/etools-prp-nginx-proxy
    environment:
      - DJANGO_APPLICATION_SERVICE_HOST=django_api
      - DJANGO_NGINX_SERVER_NAME=
      - HTTPS_REDIRECT=
      - DOMAIN_NAME=
      - ADMIN_MAIL=
    build:
      context: ./nginx_proxy
      dockerfile: ./Dockerfile
    ports:
      - "8081:80"
    depends_on:
      - django_api
      - polymer

  django_api:
    image: unicef/etools-prp
    env_file:
      - .env
    build:
      context: ./django_api
      dockerfile: ./Dockerfile
      args:
        ENV: dev
        REQUIREMENT_FILE: dev.txt
    volumes:
      - './django_api:/code/'
      - './data/django_api_logs:/data/django_api/logs'
      - './data/django_api_uploads_unicef_progress_reports:/data/django_api/uploads/unicef/progress_reports'
    command: bash -c "/usr/local/bin/waitforit -host=db -port=5432 && python /code/manage.py makemigrations --merge --noinput && python /code/manage.py migrate && python manage.py collectstatic --noinput && uwsgi --asyncio 50 --greenlet --ini /code/django_api/uwsgi.ini"
    depends_on:
      - db

  db:
    image: unicef/etools-prp-db
    env_file:
      - .env
    build:
      context: ./db
      dockerfile: ./Dockerfile

  redis:
    image: unicef/etools-prp-redis
    build:
      context: ./redis
      dockerfile: ./Dockerfile

  id-management-frontend:
    image: unicef/etools-prp-id-management-frontend
    build:
      context: ./react/id_management_frontend
      dockerfile: ./Dockerfile
    volumes:
      - ./react/id_management_frontend/:/code
      - /code/node_modules
    command: bash -c "npm start"

  polymer:
    image: unicef/etools-prp-polymer
    build:
      context: ./polymer
      dockerfile: ./Dockerfile
    volumes:
        - ./polymer/:/code
        - /code/node_modules
        - /code/bower_components
    command: ash -c "npm run dev"

  polymer_3:
    image: unicef/etools-prp-polymer_3
    build:
      context: ./polymer_3
      dockerfile: ./Dockerfile-dev
    volumes:
        - ./polymer_3/:/code
    command: ash -c "npm run dev"
