upstream django_api_uwsgi {
  server {{ DJANGO_APPLICATION_SERVICE_HOST }}:8000;
}

server {
    listen 80;

    {% if DJANGO_NGINX_SERVER_NAME %}
      server_name {{ DJANGO_NGINX_SERVER_NAME }};
    {% endif %}

    {% if SSL_CERTIFICATE %}
        listen 443 ssl;
        ssl_certificate     {{ SSL_CERTIFICATE }}/fullchain.pem;
        ssl_certificate_key {{ SSL_CERTIFICATE }}/privkey.pem;
    {% endif %}

    {% if HTTPS_REDIRECT %}
      if ($http_x_forwarded_proto != "https") {
          return 301 https://$server_name$request_uri;
      }
    {% endif %}

    client_max_body_size 100m;

    location /.well-known/acme-challenge {
        allow all;
        root /usr/share/nginx/html;
    }

    location /api/ {
      uwsgi_pass django_api_uwsgi;
      include /etc/nginx/conf.d/uwsgi_params;
    }

    location /uploads/ {
      proxy_read_timeout 180s;  # Some imports happen synchronously and take a while
      uwsgi_pass django_api_uwsgi;
      include /etc/nginx/conf.d/uwsgi_params;
    }

    location /social/ {
      proxy_read_timeout 180s;  # Some imports happen synchronously and take a while
      uwsgi_pass django_api_uwsgi;
      include /etc/nginx/conf.d/uwsgi_params;
    }

    location /sockjs-node/ {
      proxy_set_header Upgrade $http_upgrade;
      proxy_set_header Connection "upgrade";
      proxy_http_version 1.1;
      proxy_pass http://polymer:8082/sockjs-node/;
    }

    location /id-management/ {
      proxy_set_header Host $host:$server_port;
      proxy_set_header X-Real-IP $remote_addr;
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_pass http://id-management-frontend:3000/;
    }

    location /app_poly3/ {
      proxy_set_header Host $host:$server_port;
      proxy_set_header X-Real-IP $remote_addr;
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_pass http://polymer_3:8084/;
    }

    location /app/ {
      proxy_set_header Host $host:$server_port;
      proxy_set_header X-Real-IP $remote_addr;
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_pass http://polymer:8082/;
    }
}
