<style>
    .object-tools a.extra-link.disabled {
        background: #ece8e8;
        cursor: not-allowed;
    }
    .object-tools a.extra-link.btn-href {
        background-color: #f5dd5d;
        color: black;
    }

    .object-tools a.extra-link.btn-action {
        background-color: #79aec8;
    }

    .object-tools a.extra-link:hover {
        background-color: #447e9b;
        color: white;
    }

    .object-tools a.extra-link.btn-warning {
        background-color: #fffb36;
        color: black;
    }

    .object-tools a.extra-link.btn-error {
        background-color: #c85243;
    }

</style>