{% extends 'emails/base.html' %}

{% block content %}
    <p>Dear {{ user.get_full_name }},</p>
    <p>You have been granted access for:</p>
    <p>Cluster: {{ role.cluster.title }}</p>
    <p>Response Plan: {{ role.cluster.response_plan.title }}</p>
    <p>Workspace: {{ role.cluster.response_plan.workspace.title }}</p>
    <p>Your access permission level is: {{ role.get_role_display }}</p>
    <p>You can do now enter the Cluster Reporting Portal here: <a href="{{ id_management_url }}">{{ id_management_url }}</a>.</p>
    <p>For more information and training materials, please go here: <a href="{{ training_materials_url }}">{{ training_materials_url }}</a>.</p>
    <p>Please note this is an automated message and any replies to this address are not monitored.</p>
    <p>If received in error or should you require further assistance, please contact <a href="mailto:{{ system_admin_email }}">{{ system_admin_email }}</a></p>
{% endblock content %}