{% extends "custom_pdf_base.css" %}
{% load pdf_extras %}

{% block extra_style %}
    <style type="text/css">
        @page {
            size: a4 landscape;
            margin: 1cm;
        }

        #pdf {
            font-size: 10px;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            table-layout: fixed;
        }
        table, td, th {
            border: 1px solid black;
        }
        td, th {
            padding: 10px;
        }
        th {
            background-color: #d9d9d9;
            font-weight: normal;
            text-align: left;
        }

        td.signature {
            font-size: 12px;
            font-weight: bold;
        }

        td.Met, td.OnT {
            background-color: #92D050;
        }

        td.NoP {
            background-color: #E93F33;
        }

        td.Con {
            background-color: #B2A1C7;
        }

        th.section {
            background-color: #2498FA;
            font-weight: bold;
            color: #ffffff;
            text-align: center;
        }
    </style>
{% endblock %}
