{% extends "custom_pdf_base.html" %}
{% load pdf_extras %}

{% block extra_style %}
    <style type="text/css">
        @page {
            size: a4 landscape;
            margin: 1cm;
        }

        #pdf {
            font-size: 10px;
        }
        table, td, th {
            border: 1px solid black;
        }
        td, th {
            padding-top: 4px;
            padding-bottom: 1px;
            padding-left: 3px;
        }
        th {
            background-color: #d9d9d9;
            font-weight: normal;
            text-align: left;
        }

        td.signature {
            font-size: 12px;
            font-weight: bold;
        }

        td.Met, td.OnT {
            background-color: #92D050;
        }

        td.NoP {
            background-color: #E93F33;
        }

        td.Con {
            background-color: #B2A1C7;
        }

        th.section {
            background-color: #2498FA;
            font-weight: bold;
            color: #ffffff;
            text-align: center;
        }
    </style>
{% endblock %}

{% block content %}
    <div id="pdf">
        <h5>{{ title }}</h5>
        <h1>1. Programme & Report overview</h1>
        <table>
            {% render_base_programme_info_for_report progress_report %}

            <tr>
                <th rowspan="10">
                    1.3 Progress Report Information
                </th>
            
                <th>Program Duration</th>
                <td colspan="2">From {{ pd.start_date }} to {{ pd.end_date }}</td>
            </tr>
            <tr>
                <th>Reporting period</th>
                <td colspan="2">{{ progress_report.get_reporting_period }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td colspan="2">{{ progress_report.get_status_display }}</td>
            </tr>
            <tr>
                <th>Due Date</th>
                <td colspan="2">{{ progress_report.due_date }}</td>
            </tr>
            <tr>
                <th>Submission Date</th>
                <td colspan="2">{{ progress_report.submission_date|default:"---" }}</td>
            </tr>
            <tr>
                <th>Submitted By</th>
                <td colspan="2">{{ progress_report.submitted_by.display_name|default:"---" }}</td>
            </tr>
            <tr>
                <th>Challenges / Bottlenecks in the Reporting Period</th>
                <td colspan="2">{{ progress_report.challenges_in_the_reporting_period|default:"---" }}</td>
            </tr>
            <tr>
                <th>Proposed Way Forward</th>
                <td colspan="2">{{ progress_report.proposed_way_forward|default:"---" }}</td>
            </tr>
            <tr>
                <th>Attachment</th>
                <td colspan="2">
                    {% if progress_report.attachments.exists %}
                        &#10003;
                    {% else %}
                        &#10007;
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>SR Narrative</th>
                <td colspan="2">{{ progress_report.narrative|default:"---" }}</td>
            </tr>

            <tr>
                <th rowspan="3">1.4 Budget information</th>
            
                <th>Programme budget</th>
                <td colspan="2">{{ pd.cso_contribution|format_currency:pd.cso_contribution_currency }}</td>
            </tr>
            <tr>
                <th>UNICEF contribution</th>
                <td colspan="2">{{ pd.budget|format_currency:pd.budget_currency }}</td>
            </tr>
            <tr>
                <th>Funds received to date</th>
                <td>{{ pd.funds_received_to_date|format_currency:pd.funds_received_to_date_currency }}</td>
                <td>{{ funds_received_to_date_percentage }}% to date</td>
            </tr>

            <tr>
                <th colspan="2">1.5 Partner Contribution to Date</th>
                <td colspan="2">{{ progress_report.partner_contribution_to_date|default:"---" }}</td>
            </tr>
        </table>

        <table style="margin-top: 2.5em;">
            <tr>
                <th colspan="3">FOR UNICEF OFFICE USE ONLY</th>
                <th colspan="3">Rating</th>
                <th colspan="3">Comment if applicable</th>
            </tr>

            <tr>
                <td colspan="3">Overall progress of the programme document</td>
                <td colspan="3">{{ progress_report.get_review_overall_status_display|default:"" }}</td>
                <td colspan="3">{{ progress_report.sent_back_feedback|default:"" }}</td>
            </tr>

            <tr>
                <td colspan="9">
                    Name and signature of UNICEF PD focal point: {{ progress_report.reviewed_by_name|default:"" }}<br/>
                    Date: {{ progress_report.review_date|default:"" }}
                </td>
            </tr>
        </table>

        <div>
            <pdf:nextpage />
        </div>

        <h1>2. PD Outputs / SSFA Expected Results</h1>
        {% include 'fragments/tables.html' %}
    </div>
{% endblock %}
