{% extends "custom_pdf_base.html" %}
{% load pdf_extras %}

{% block extra_style %}
    <style type="text/css">
        @page {
            size: a4 landscape;
            margin: 1cm;
        }

        #pdf {
            font-size: 10px;
        }

        h1 {
            font-size: 11px;
            font-weight: bold;
        }

        table, td, th {
            border: 1px solid black;
        }

        td, th {
            padding-top: 4px;
            padding-bottom: 1px;
            padding-left: 3px;
        }

        th {
            background-color: #d9d9d9;
            font-weight: normal;
            text-align: left;
        }
    </style>
{% endblock %}

{% block content %}
    <div id="pdf">
        <h1>{{ title }}</h1>
        <table>
            {% autoescape off %}
                {% for row_data in rows %}
                    <tr>
                        {% for cell in row_data %}
                            {{ cell.render }}
                        {% endfor %}
                    </tr>
                {% endfor %}
            {% endautoescape %}
        </table>
    </div>
{% endblock %}
