{% extends "easy_pdf/base.html" %}
{% load pdf_extras %}

{% block extra_style %}
    <style type="text/css">
        @page {
            size: a4 landscape;
            margin: 1cm;
        }

        #pdf {
            font-family: "Arial", "sans-serif";
            font-size: 10px;
        }
        h1 {
            font-family: "Arial", "sans-serif";
            font-size: 11px;
            font-weight: bold;
        }
        table, td, th {
            border: 1px solid black;
        }
        td, th {
            padding-top: 4px;
            padding-bottom: 1px;
            padding-left: 3px;
        }
        th {
            background-color: #d9d9d9;
            font-weight: normal;
            text-align: left;
        }
        th.section {
            background-color: #002060;
            font-weight: bold;
            color: #ffffff;
            text-align: left;
        }
        td.signature {
            font-size: 12px;
            font-weight: bold;
        }

        td.Met {
            background-color: #FFFFFF;
        }

        td.OnT {
            background-color: #92D050;
        }

        td.NoP {
            background-color: #E93F33;
        }

        td.Con {
            background-color: #B2A1C7;
        }

    </style>
{% endblock %}

{% block content %}
    <div id="pdf">
        <h1>PART 2: programme progress/final report - to be completed by CSO as part of reporting with FACE</h1>
        <table>
            <tr>
                <th colspan="4" class="section">Section 1. Programme & CSO overview</th>
            </tr>
            {% render_base_programme_info_for_report report %}
            <tr>
                <th>1.5 Partner Contribution made to date</th>
                <td colspan="3">{{ report.partner_contribution_to_date }}</td>
            </tr>
            <tr>
                <th>1.6 Signature of CSO Authorized Official</th>
                <td class="signature">{{ authorized_officer.name }}</td>
                <td colspan="2">Date: {{ submission_date|default:"---" }}</td>
            </tr>
        </table>

        <!--TEMPORARY-->
        <div>
            <pdf:nextpage />
        </div>

        <table>
            <tr>
                <th class="section">2. Reporting on results achieved</th>
            </tr>
            <tr>
                <td>The table below provides an overview of results achieved during the reporting period and cumulatively since the onset of the programme.</td>
            </tr>
        </table>
        <br /><br />
        <table>
            <tr>
                <th>Programme Outputs*</th>
                <th>Performance indicator*</th>
                <th>Targets*</th>
                <th>Achievement in reporting period**</th>
                <th>Cumulative progress to date**</th>
                <th>Overall Status</th>
                <th>Narrative assessment / summary of progress**</th>
            </tr>

            <!--This is probably loop -->
            {% for output in outputs %}
                {% for indicator in output %}
                    {% if forloop.counter == 1 %}
                        <tr>
                            <th rowspan="{{ output|length }}">{{ indicator.reportable.content_object.title }}</th>
                            <th>{{ indicator.title }}</th>
                            <th>{{ indicator.reportable.target }}</th>
                            <td width="100px">{% if indicator.is_number %}{{ indicator.total.v|floatformat:"0" }}{% else %}{{ indicator.total.c|percentage }}{% endif %}</td>
                            <td width="100px">{% if indicator.is_number %}{{ indicator.total.v|floatformat:"0" }}{% else %}{{ indicator.total.c|percentage }}{% endif %}</td>
                            <td class="{{ indicator.overall_status }}" rowspan="{{ output|length }}">{{ indicator.get_overall_status_display }}</td>
                            <td rowspan="{{ output|length }}">{{ indicator.narrative_assessment|default:"---" }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <th>{{ indicator.title }}</th>
                            <th>{{ indicator.reportable.target }}</th>
                            <td>{% if indicator.is_number %}{{ indicator.total.v|floatformat:"0" }}{% else %}{{ indicator.total.c|percentage }}{% endif %}</td>
                            <td>{% if indicator.is_number %}{{ indicator.total.v|floatformat:"0" }}{% else %}{{ indicator.total.c|percentage }}{% endif %}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            <!--End of loop-->

            <tr>
                <th>Challenges / bottlenecks faced in the reporting period</th>
                <td colspan="6">{{ challenges_in_the_reporting_period }}</td>
            </tr>
            <tr>
                <th>Proposed way forward</th>
                <td colspan="6">{{ proposed_way_forward }}</td>
            </tr>
        </table>
        <br />
        <p>
            * Information directly extracted from Section 2.2 of the signed Programme document.<br />
            ** Information to be updated upon submission of the report.
        </p>
    </div>
{% endblock %}
