{% extends "rest_framework/base.html" %}
{% load static admin_urls %}

{% block script %}
  <script>
          window.drf = {
            csrfHeaderName: "{{ csrf_header_name|default:'X-CSRFToken' }}",
            csrfToken: "{% if request %}{{ csrf_token }}{% endif %}"
          };
  </script>
  <script src="{% static "rest_framework/js/jquery-3.5.1.min.js" %}"></script>
        <script src="{% static "rest_framework/js/ajax-form.js" %}"></script>
  <script src="{% static "rest_framework/js/csrf.js" %}"></script>
        <script src="{% static "rest_framework/js/bootstrap.min.js" %}"></script>
  <script src="{% static "rest_framework/js/prettify-min.js" %}"></script>
        <script src="{% static "rest_framework/js/default.js" %}"></script>
  <script>
          $(document).ready(function() {
            var redirectLogin = "{% if user.is_authenticated %}{{ True }}{% else %}{{ False }}{% endif %}";
            if (redirectLogin == "False") {
              var nextUrl = "?next=" + $(location).attr('pathname');
              var adminLogin = "{% url 'admin:login' %}";
              window.location.replace(adminLogin + nextUrl);
            };
            $('form').ajaxForm();
          });
  </script>
{% endblock %}