{% extends "custom_pdf_base.html" %}
{% load pdf_extras %}

{% block extra_style %}
    <style type="text/css">
        @page {
            size: a4 landscape;
            margin: 1cm;
        }
    </style>
{% endblock %}

{% block content %}
    <div id="pdf">
        {% if same_pd_across_all_reports %}
            <h1>1. Programme overview</h1>
            <table>
                {% render_base_programme_info_for_report sections.0.progress_report %}
            </table>
        {% endif %}

        {% for section in sections %}
            {% if not same_pd_across_all_reports %}
                <h1>1. Programme & Report overview</h1>
            {% else %}
                <h1>1. Report overview</h1>
            {% endif %}

            <table>
                {% if not same_pd_across_all_reports %}
                    {% render_base_programme_info_for_report section.progress_report %}
                {% endif %}

                <tr>
                    <th rowspan="10">
                        1.5 Progress Report Information
                    </th>
                    <th>Status</th>
                    <td colspan="2">{{ section.progress_report.get_status_display }}</td>
                </tr>
                <tr>
                    <th>Reporting period</th>
                    <td colspan="2">{{ section.progress_report.get_reporting_period }}</td>
                </tr>
                <tr>
                    <th>Due Date</th>
                    <td colspan="2">{{ section.progress_report.due_date }}</td>
                </tr>
                <tr>
                    <th>Submission Date</th>
                    <td colspan="2">{{ section.progress_report.submission_date|default:"---" }}</td>
                </tr>
                <tr>
                    <th>Submitted By</th>
                    <td colspan="2">{{ section.progress_report.submitted_by.display_name|default:"---" }}</td>
                </tr>
                <tr>
                    <th>Non-Financial Contribution to Date</th>
                    <td colspan="2">{{ section.progress_report.partner_contribution_to_date|default:"---" }}</td>
                </tr>
                <tr>
                  <th>Financial contribution made to date</th>
                  <td colspan="2">{{ section.progress_report.financial_contribution_to_date|default:"---" }}</td>
                </tr>
                <tr>
                  <th>Financial contribution currency</th>
                  <td colspan="2">{{ section.progress_report.financial_contribution_currency|default:"---" }}</td>
                </tr>
                <tr>
                    <th>Challenges / Bottlenecks in the Reporting Period</th>
                    <td colspan="2">{{ section.progress_report.challenges_in_the_reporting_period|default:"---" }}</td>
                </tr>
                <tr>
                    <th>Proposed Way Forward</th>
                    <td colspan="2">{{ section.progress_report.proposed_way_forward|default:"---" }}</td>
                </tr>
                <tr>
                    <th>Attachment</th>
                    <td colspan="2">
                        {% if section.progress_report.attachments.exists %}
                            {% for attachment in section.progress_report.attachments.all %}
                                {{ attachment.filename }} <br/>
                            {% endfor %}
                        {% else %}
                            &#10007;
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>SR Narrative</th>
                    <td colspan="2">{{ section.progress_report.narrative|default:"---" }}</td>
                </tr>
            </table>
            <h1>2. PD Outputs / SPD Expected Results</h1>
            {% include 'fragments/tables.html' with tables=section.tables %}
            <div>
                <pdf:nextpage />
            </div>
        {% endfor %}
    </div>
{% endblock %}
