{% extends "custom_pdf_base.html" %}
{% load pdf_extras %}

{% block extra_style %}
    <style type="text/css">
        @page {
            size: a4 landscape;
            margin: 1cm;
        }
        th.wrapped_cell {
            white-space: normal;
            word-wrap: break-word;
        }
    </style>
{% endblock %}

{% block content %}
    <div id="pdf">
        <h5>{{ title }}</h5>

        {% for section in sections %}
            {% include 'fragments/tables.html' with tables=section.tables %}
            <div>
                <pdf:nextpage />
            </div>
        {% endfor %}
    </div>
{% endblock %}
