:root,
:host {
  --sl-font-mono: Roboto, Noto, sans-serif;
  --sl-font-sans: Roboto, Noto, sans-serif;
  --sl-font-serif: Roboto, Noto, sans-serif;
  --primary-color: #0099ff;
  --secondary-color: #0061e9; /* TODO: unused color, remove? */
  --ternary-color: #009a54;

  --primary-background-color: #ffffff;
  --secondary-background-color: #eeeeee;
  --light-theme-background-color: var(--sl-color-gray-100);
  --medium-theme-background-color: #eeeeee;
  --dark-theme-background-color: #233944;
  --default-btn-bg-color: rgba(0, 0, 0, 0.45);

  --primary-text-color: rgba(0, 0, 0, 0.87);
  --dark-primary-text-color: var(--primary-text-color);
  --medium-primary-text-color: #9d9d9d;
  --light-primary-text-color: rgba(255, 255, 255, 1);

  --expand-icon-color: #4d4d4d;

  --secondary-text-color: rgba(0, 0, 0, 0.54);
  --light-secondary-text-color: rgba(255, 255, 255, 1);
  --dark-secondary-text-color: var(--secondary-text-color);

  --dark-disabled-text-color: rgba(0, 0, 0, 0.38);
  --light-disabled-text-color: var(--medium-primary-text-color);

  --light-icon-color: rgba(255, 255, 255, 1);
  --medium-icon-color: var(--medium-primary-text-color);
  --dark-icon-color: rgba(0, 0, 0, 0.65);
  --light-disabled-icon-color: var(--medium-primary-text-color);
  --dark-disabled-icon-color: rgba(0, 0, 0, 0.38);

  --light-divider-color: rgba(0, 0, 0, 0.12);
  --light-hex-divider-color: #b8b8b8;
  --dark-divider-color: rgba(0, 0, 0, 0.4);
  --darker-divider-color: var(--medium-primary-text-color);

  --light-hover-color: rgba(255, 255, 255, 0.01);
  --dark-hover-color: rgba(0, 0, 0, 0.01);

  --light-ink-color: rgba(255, 255, 255, 0.3);
  --dark-ink-color: rgba(0, 0, 0, 0.3);

  --dark-theme-background-color: #233944;

  --header-color: #ffffff;
  --header-bg-color: var(--dark-theme-background-color);
  --nonprod-header-color: #a94442;
  --nonprod-text-warn-color: #fff;

  --amendment-mode-color: rgba(139, 0, 216, 0.99); /* .99 is to fix chrome strange bg color transparency */

  --main-border-color: #c1c1c1;

  --error-color: #ea4022;
  --light-error-color: #f1b8ae;
  --dark-error-color: #c5102a;

  --warning-color: #ff9044;
  --light-warning-color: #ffc8a2;

  --success-color: #72c300;
  --light-success-color: #bef078;

  --info-color: #cebc06;
  --light-info-color: #fff176;
  --lightest-info-color: #fef9cd;
  --primary-color-hover: #027ac9;
  --default-btn-bg-hover-color: rgba(0, 0, 0, 0.55);

  --sl-color-primary-600: var(--primary-color);
  --sl-color-primary-500: var(--primary-color-hover);
  --sl-color-success-600: var(--ternary-color);
  --sl-color-neutral-600: var(--default-btn-bg-color);
  --sl-color-neutral-500: var(--default-btn-bg-hover-color);
  --sl-color-danger-600: var(--error-color);

  --error-box-heading-color: var(--error-color);
  --error-box-bg-color: #f2dede;
  --error-box-border-color: #ebccd1;
  --error-box-text-color: var(--error-color);

  --etools-font-size-zoom: 1;
  --etools-font-size-10: calc(10px * var(--etools-font-size-zoom));
  --etools-font-size-11: calc(11px * var(--etools-font-size-zoom));
  --etools-font-size-12: calc(12px * var(--etools-font-size-zoom));
  --etools-font-size-13: calc(13px * var(--etools-font-size-zoom));
  --etools-font-size-14: calc(14px * var(--etools-font-size-zoom));
  --etools-font-size-15: calc(15px * var(--etools-font-size-zoom));
  --etools-font-size-16: calc(16px * var(--etools-font-size-zoom));
  --etools-font-size-18: calc(18px * var(--etools-font-size-zoom));
  --etools-font-size-20: calc(20px * var(--etools-font-size-zoom));
  --etools-font-size-22: calc(22px * var(--etools-font-size-zoom));
  --etools-font-size-24: calc(24px * var(--etools-font-size-zoom));
  --etools-font-size-28: calc(28px * var(--etools-font-size-zoom));
  --etools-font-size-30: calc(30px * var(--etools-font-size-zoom));
  --etools-font-size-36: calc(36px * var(--etools-font-size-zoom));
  --etools-font-size-48: calc(48px * var(--etools-font-size-zoom));
  --etools-font-size-72: calc(72px * var(--etools-font-size-zoom));

  --sl-font-size-2x-small: var(--etools-font-size-10, 10px);
  --sl-font-size-x-small: var(--etools-font-size-12, 12px);
  --sl-font-size-small: var(--etools-font-size-14, 14px);
  --sl-font-size-medium: var(--etools-font-size-16, 16px);
  --sl-font-size-large: var(--etools-font-size-20, 20px);
  --sl-font-size-x-large: var(--etools-font-size-24, 24px);
  --sl-font-size-2x-large: var(--etools-font-size-36, 36px);
  --sl-font-size-3x-large: var(--etools-font-size-48, 48px);
  --sl-font-size-4x-large: var(--etools-font-size-72, 72px);

  --sl-input-background-color-disabled: inherit;
  --sl-input-background-color-focus: inherit;
  --sl-input-height-small: 26px;
  --sl-font-sans: 'Roboto', 'Noto', sans-serif;
  --sl-input-color: rgba(0, 0, 0, 0.87);
  --sl-input-label-font-size-small: var(--etools-font-size-12, 12px);
  --sl-input-label-color: var(--secondary-text-color);

  --add-button-color: var(--success-color);
  --icon-delete-color: var(--error-color);

  --gray-06: rgba(0, 0, 0, 0.06);
  --gray-light: rgba(0, 0, 0, 0.38);

  /* partner risk ratings colors */
  --risk-rating-not-assesed-color: #dcd8d8;
  --risk-rating-high-color: #740e0e;
  --risk-rating-significant-color: #f05454;
  --risk-rating-moderate-color: #ffca3a;
  --risk-rating-low-color: #2fb0f2;
  --risk-rating-not-required-color: #d8d8d8;

  --status-synced-color: #00a651;
  --status-blocked-color: #ffa149;
  --status-not-synced-color: #3a94ff;

  --status-suspended-color: var(--warning-color);
  --status-terminated-color: var(--error-box-heading-color);
  --status-completed-color: var(--success-color);
  --status-active-color: var(--primary-color);

  /* etools-action-button styles*/
  --etools-action-button-main-color: var(--primary-color);
  --etools-action-button-text-color: var(--light-primary-text-color);
  --etools-action-button-dropdown-higlight-bg: var(--list-second-bg-color);
  --etools-action-button-divider-color: rgba(255, 255, 255, 0.12);

  /* etools-status styles */
  --etools-status-divider-color: var(--light-divider-color);
  --etools-status-icon-inactive-color: var(--medium-icon-color);
  --etools-status-icon-pending-color: var(--primary-color);
  --etools-status-icon-completed-color: var(--success-color);
  --etools-status-icon-text-color: var(--light-primary-text-color);
  --etools-status-text-color: var(--medium-primary-text-color);
  --etools-status-inactive-text-color: var(--primary-text-color);

  /* list colors */
  --list-primary-color: var(--primary-color);
  --list-secondary-color: var(--primary-background-color);
  --list-divider-color: var(--light-divider-color);
  --list-bg-color: var(--primary-background-color);
  --list-second-bg-color: var(--medium-theme-background-color);
  --list-text-color: var(--primary-text-color);
  --list-secondary-text-color: var(--secondary-text-color);
  --list-icon-hover-color: var(--primary-text-color);
  --list-icon-color: var(--dark-icon-color);
  --list-disabled-icon-color: var(--light-disabled-icon-color);

  /* etools-panel styles */
  --ecp-header-color: var(--primary-text-color);

  --toolbar-height: 60px;
  --side-bar-scrolling: visible;

  --esmm-delete-icon-color: var(--error-color);

  /* sl-tooltip styles */
  --sl-tooltip-background-color: rgba(97, 97, 97, 0.9);

  /* etools-dialog styles */
  --etools-dialog-primary-color: #ffffff;
  --etools-dialog-contrast-text-color: var(--primary-text-color);
  --epd-profile-dialog-border-b: solid 1px var(--dark-divider-color);

  /* global loading box content */
  --etools-loading-border-color: rgba(255, 255, 255, 0.12);
  --etools-loading-shadow-color: #333333;

  /* MOVED FROM app-theme-ip-styles.ts START */ 
  /* //TODO */
  --theme-primary-color: #0099ff;
  --theme-secondary-color-a: #ccebff;
  --theme-secondary-color-b: #2baaff;
  --theme-secondary-color-c: #233944;
  --theme-secondary-color-d: #3db2ff;

  --theme-primary-text-color-dark: #212121;
  --theme-primary-text-color-medium: #c0c0c0;
  --theme-primary-text-color-light: #fff;
  --theme-secondary-text-color: #5d6b75;

  --theme-table-bg-primary: #edf8ff;
  --theme-table-bg-secondary: #c4e3f7;

  --ecp-header-bg: var(--theme-primary-color);

  --paper-input-container-focus-color: var(--theme-primary-color);

  --theme-page-header-background-color: var(--theme-secondary-color-c);

  --theme-selected-item-background-color: var(--paper-grey-200);

  --accent-color: #0099ff;

  --paper-tabs-selection-bar-color: var(--theme-primary-color);
  --paper-tab-ink: var(--theme-selected-item-background-color);

  --indicator-color: var(--theme-secondary-color-b);

  --paper-radio-button-checked-color: var(--theme-primary-color);
  /* MOVED FROM app-theme-ip-styles.ts START */ 
}

html[dir='rtl'] {
  --required-star-style: {
    background: url('./assets/images/required.svg') no-repeat 0 20%/8px;
    right: auto;
    padding-inline-end: 15px;
  }
}



html.contrastSoft {
  --primary-color: #0077C7;
  --primary-background-color: #ffffff;
  --secondary-background-color: #eeeeee;
  --medium-theme-background-color: #eeeeee;
  --light-theme-background-color: #eeeeee;

  --primary-text-color: #000000;
  --secondary-text-color: #000000;
  --default-btn-bg-color: #000000;

  --header-color: #ffffff;
  --header-bg-color: #233944;
  --header-icon-color: #ffffff;
  --nonprod-header-color: #a94442;
  --nonprod-text-warn-color: #fff;

  --expand-icon-color: #000000;

  --main-border-color: #000000;
  --light-divider-color: #000000;
  --light-hex-divider-color: #000000;
  --dark-divider-color: #000000;
  --darker-divider-color: #000000;

  --dark-icon-color: #000000;
  --light-icon-color: #ffffff;

  --side-bar-scrolling: visible;

  --success-color: #72c300;
  --error-color: #ea4022;

  --add-button-color: var(--success-color);
  --icon-delete-color: var(--error-color);

  --primary-shade-of-green: #1a9251;
  --primary-shade-of-red: #e32526;
  --primary-shade-of-orange: orange;
  --light-hex-divider-color: #000000;

  --info-color: #cebc06;
  --light-info-color: #fff176;
  --lightest-info-color: #fef9cd;
  --warning-background-color: #fff3cd;
  --warning-color: #856404;
  --warning-border-color: #ffeeba;

  --error-box-heading-color: var(--error-color);
  --error-box-bg-color: #f2dede;
  --error-box-border-color: #ebccd1;
  --error-box-text-color: var(--error-color);
  --primary-color-hover: #0063A5;
  --default-btn-bg-hover-color: #000000;
  --error-hover-color: #d1391e;

  --sl-color-primary-600: var(--primary-color);
  --sl-color-primary-500: var(--primary-color-hover);
  --sl-color-success-600: var(--ternary-color);
  --sl-color-neutral-600: var(--default-btn-bg-color);
  --sl-color-neutral-500: var(--default-btn-bg-hover-color);
  --sl-color-danger-600: var(--error-color);
  --sl-color-danger-500: var(--error-hover-color);

  --gray-06: rgba(0, 0, 0, 0.06);
  --gray-20: rgba(0, 0, 0, 0.2);
  --gray-50: rgba(0, 0, 0, 0.5);
  --gray-light: rgba(0, 0, 0, 0.38);

  --ecp-header-color: var(--primary-text-color);
}

html.readableText {
  --sl-font-mono: Arial,Helvetica,sans-serif!important;
  --sl-font-sans: Arial,Helvetica,sans-serif!important;
  --sl-font-serif: Arial,Helvetica,sans-serif!important;
  font-family: var(--sl-font-sans);
}
